body {
    font-size: 24px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.italic {
    font-style:italic;
}
.bold {
    font-weight:bold;
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}





